/*header*/
:root {
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --accent-color: #2196f3;
    --background-color: #ffff;
}
html{
    box-sizing: border-box;

}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
    color: var(--primary-text-color);
    background-color: white;
    font-family: roboto, sans-serif;
}
a{
    text-decoration: none;

}
ul{
    list-style: none;
}
.logo{
    color: black;
    font-family: Raleway, sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 3%;
}
span {
    color: var(--accent-color);
}
.logo-span,
.list-item:hover,
.list-item:focus,
.link-list:hover,
.link-list:focus,
.link-list-footer:focus,
.link-list-footer:hover
{
    color: #2196F3;
}
.nav-list{
    color: #212121;
}
.list-item{
    color: #212121;
    font-style: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 2%;
}
.link-list{
    color: #757575;
    font-style: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 2%;
}
/* Секція герой */
.section{
    background-color: #E5E5E5;
}
.hero-section{
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
}
.hero-tittle{
    color: white;
    font-style: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 6%;
}
.button{
    background-color: #2196F3; 
    color: white;
    font-style: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 6%;
}
/*Секція особливості*/
.tittle{
    color: #212121;
    font-style: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 3%;
}
.list{
    color: #212121;
    font-style: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 3%;
}
/*Секція знайомства*/
.section-team{
    background-color: #F5F4FA;
}
.paragraph{
    color: #757575;
    font-style: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 3%;
}
.name{
    color: #212121;
    font-style: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 3%;
}
.profeshion{
    color: #757575;
    font-style: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 3%;
}
/*Підвал*/
.footer{
    background-color: #2F303A;
}
.address{
    color: #ffff;
    font-style: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 3%;
}
/*portfolio*/
.link-list-footer{
    color: rgba(255, 255, 255, 0.6);
    font-style: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 3%;
}
/*Усе*/
.yce{
    background-color: #E5E5E5;
}
.filter-link{
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    width: 73px;
    height: 38px;
    padding: 6px, 22px;
}
.logo-footer{
    color: white;
    font-family: Raleway, sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 3%;
}
.usename{
    color: #212121;
    font-style: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
}
.subtitle{
    color: #757575;
    font-family: Roboto,sans-serif;
    font-style: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 3%;
}
/*контейнери*/
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
}
.hero-tittle{
    padding-right: 452px;
    padding-left: 452px;
    text-align: center;
}
.header-nav{
    display: flex;
}
.nav-list{
    display: flex;
}
.list-item{
    margin-right: 54px;
}
.link-list:last-child{
    margin-right: 0;
}
.contacts-nav{
    display: flex;
}
.contacts-nav li+li{
    margin-left: 50px;
}
.hero-tittle{
    display: flex;
}
.logo-footer{
    padding-bottom: 20px;
}
.address{
    padding-bottom: 9px;
}
.link-list-footer :not(:last-child){
    padding-top: 9px;
}
/*запитати про шапку*/